.about_header_container{
    background: white;    
    min-height: 100vh;
}

.about_img{
    width: 75%;
}

.about_main_content{
    background-color: none;
    text-align: center;
    min-height: 50vh;
}

.video{
    width: 100%;
    margin-left: 2rem;
    
}

.main_text{
    width: 100%;
    margin-right: 2rem;
    font-size: 2rem;
}

.form{
    margin: auto;
    background: white;
    width: 90%;}

.form_group{
    padding: 1rem;
    margin: 1rem;
}

.heading_secondary{
    margin: 3rem;
}

.form_input{
font-size: 1.5rem;
color: #000000;
padding: 1.5rem 2rem;
border-radius: 2px;
background-color: #fff;
border: none;
border-bottom: 3px solid transparent;
display: block;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
width: 100%;
margin-bottom: 1rem;
}
.form_label{
    display: inline-block;
    font-size: 2rem;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #05BF1E; }
.form_input:focus:invalid {
    border-bottom: 3px solid #FF0000; }
.form_input::-webkit-input-placeholder {
    color: #999; 
}

.button_submit{
    margin-top: 1rem;
    transition-duration: 0.4s;
    padding: 15px 32px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button_submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.map{
    margin-top: 5rem;
    width: 100%;
}