.bike_info{
    background: white;
    min-height: 100vh;
    padding-top: 3rem;
}

.bike_header_image{
    width: 50%;
}

button{
    transition-duration: 0.4s;
    padding: 15px 32px;
    background-color: white;
    color: black;
    border: 2px solid #333;
    margin: auto;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}
.accessories_container{
    padding-bottom: 10rem;
    background-color: white;
    min-height: 100vh;
}

.accessories_header{
    text-align: center;
    

}
.accessories_header_container{
    margin-left: 2rem;
    font-size: 1.5rem;
}
.accessories_header_img{
    width: 75%;
    margin: auto;
}

.button_container{
    text-align: center;
    margin-top: 2rem;
}

.content-container{
    margin: auto;
}


.content-container{
    margin: auto;
}


.test-div{
    text-align: center;
    width: 100%;
    display: none;
}

.test-div.show{
    display: block;
}

.accessories_grid{
    display: grid;
    text-align: center;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 }
 
 .accesories_grid_items{
    margin: auto;
}

.accessories_card{
    padding: 0;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 10px; 
    background: white;
    transition: 0.5s;
}   
 .accessories_img{
     overflow: hidden;
     object-fit: cover;
     height: 20rem;
     width: 100%;
     max-height: 100%;
     border-radius: 10px;
     border-bottom: none;
 }

 .card_info{
     border-top: 1px solid grey;
     padding-left: 1rem;
    
 }

 .btn_active{
     color: white;
     border-color: white;
     background-color: #333;
 }

 @media(max-width: 1000px){
    button{
        width: 50%;
        margin: .5rem;
    }
    .accessories_header_img{
        width: 100%;
    }
    .accessories_header_container{
        margin-left: 0;
        font-size: 1.2rem;
    }
 }