.gallery{
    min-height: 100vh;
}

.grid_container{
   padding: 5rem;
}

html{
    background-image: url(/imgs/background_secondary1.png);
    background-size: cover;
}

.gallery_img{
    width: 100%;
}

.gallery_card{
    width: 300px;
    padding: 0;
    margin: 1rem;
    background: white;
}   

.card_info{
    padding: 1rem;
    border-top: 2px solid black; 
}

.gallery_submitted{
    display: inline-block;
}

.gallery_date{
    float: right;
}

.gallery_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 @media(max-width: 1000px){
    .grid_container{
        margin: auto;
        padding: 0;
    }

    .gallery_card{
     margin: 1rem auto ;
     
    }   
    
 }
    @media only screen and (min-width: 620px){ 
        .gallery_grid{
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
         }
    }