
html{
    background-image: url(/imgs/background_secondary1.png);
    background-size: cover;
}

.service_img{
    width: 50%;
}
.servicing_form_container{
 margin: 10rem;
}

.service_form{
    background: white;
    border: 2px solid black;
    border-radius: 10px;
}

.form_group{
    padding: 1rem;
    margin: 1rem;
}
.form_input{
font-size: 1.5rem;
color: #000000;
padding: 1.5rem 2rem;
border-radius: 2px;
background-color: #fff;
border: none;
border-bottom: 3px solid transparent;
display: block;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
max-width: 100%; 
margin-bottom: 1rem;
}

input{
    width: 100%;
}

.radio{
    width: 5%;
}

.radio_box{
    margin: 1rem;
}

textarea{
    resize: none;
    width: 100%;
    height: 10rem;
}

.form_label{
    display: inline-block;
}

.form_input:focus {
    outline: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #05BF1E; }
.form_input:focus:invalid {
    border-bottom: 3px solid #FF0000; }
.form_input::-webkit-input-placeholder {
    color: #999; }


.button_submit{
    margin-top: 1rem;
    transition-duration: 0.4s;
    padding: 15px 32px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
      
.button_submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

@media(max-width: 1000px){
    .form_group{
        margin: 0;
        padding: 0;
    }
    .form_input{
        margin: 0;
        padding: 1rem;
        width: 100%;
    }
    .servicing_form_container{
        margin: 1rem;
       }
    }